@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Open+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .app {
    height: 100%;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
}