.dashboardContainer {
    display:flex;
}

.OuterWrapper{
    display: flex;
    flex-direction: column;
    padding-left:10px;
    flex:12.5;

}

.dashboardInnerWrapper{
    display: flex;
    padding: 40px 40px 40px 80px
}

.stepsBox{
    border: 3px solid #086cb9;
    height: 260px;
    width: 700px;
    border-radius: 10px;
    font-size: 14px;
    padding:8px;
}

li{
    margin:3px;
}

.step{
    display: flex;
    justify-content: space-between;
}

h5, h4{
    padding: 10px 0 ;
}

.stepsText{
    width:150px;
    font-size: 10.5px;
}

.projectsHeading{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.projectsHeading h5{
    margin-right: 430px
}
.projectsList{
    display: flex;
}

.projectsBox{
    border: 2px solid #84bde6;
    width: 225px;
    height:125px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-right: 10px;

}