
.chatContainer {
    display:flex;
}

.chat {
    display: flex;
    flex-direction: column;

    flex:8;
    
}
.OuterWrapper{
    display: flex;
    flex-direction: column;
    padding-left:10px;
    flex:12.5;

}

.InnerWrapper{
    display: flex;
}

.editor {
    flex: 4;
    background-color: rgb(247, 245, 245);
    padding: 5px
   
}
