/* 
.leftnav{ 
    color: white;
    margin:-10px;
    flex:2.5;
  
}

.logo{
    background-color:  #0C5184;
    height: 10.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.nav{
    background-color:  #006AB7;
    height: 95vh;
    justify-content: center;
    display: flex;
    font-weight: 500;
    font-size:16px;
    letter-spacing: -0.3px;
}

.nav ul{
    list-style-type:none;
    margin-right: 35px;
}

.nav ul li{
    padding: 13px
}

ul li:hover{
    color: rgb(230, 241, 241)
}
 */
