.signup-inInput {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup-inInput:focus {
  background-color: #ebf7ec;
  outline: none;
}

hr {
  border: 1px solid #d3cece;
}

.signup-inbtn {
  background-color: #038656;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: small;
}

.signup-inbtn:hover {
  background-color: #2c9770;
}

.googleButton {
  width: 100%;
}

input[type="checkbox"] {
  accent-color: #038656;
}
